<form class="form-signin form-signup hide" role="form" novalidate>
	<div class="page-card-body">
		<div class="il-field">
			<div class="il-field-outlined">
				<input
					type="text"
					id="signup_fullname"
					class="form-control il-text-input"
					placeholder=" "
					required
					autofocus
					autocomplete="name"
				/>
				<label class="il-floating-label" for="signup_fullname">{{ _("Full Name") }}</label>
			</div>
			<p class="field-error"></p>
		</div>
		<div class="il-field">
			<div class="il-field-outlined">
				<input
					type="email"
					id="signup_email"
					class="form-control il-text-input"
					placeholder=" "
					required
					autocomplete="username"
				/>
				<label class="il-floating-label" for="signup_email">{{ _("Email") }}</label>
			</div>
			<p class="field-error"></p>
		</div>
	</div>
	<div class="page-card-actions">
		<button class="il-btn-primary btn-signup" type="submit" disabled>
			{{ _("Create Account") }}
		</button>
		<p class="sign-up-message">
			<a href="#login">{{ _("Have an account? Login") }}</a>
		</p>
	</div>
</form>
